<div class="first px-10 py-5 flex xl:flex-row flex-col justify-center items-center xl:py-20">

  <div class="logo-img flex justify-center">
    {% load static %}
    <img src="{% static 'img/logo.png' %}" alt="logo" class="object-cover sm:size-3/6 xl:size-2/3 size-5/6">
  </div>

  <div class="title flex flex-col justify-center max-w-2xl xl:pr-24">
    <h1 class="text-4xl font-bold text-center mt-5 xl:mt-0">Sistemas y Servicios Tecnológicos</h1>
    <p id="description" class="text-justify mt-6 max-w-4xl text-lg">En Ciber Dany, nuestro compromiso es brindar servicios eficientes con un toque personal, nos enorgullece ofrecer una amplia gama de servicios diseñados para cubrir todas tus necesidades tecnológicas y administrativas. Ya sea que necesites asistencia técnica o apoyo en trámites administrativos, estamos aquí para ayudarte. ¡Ven y descubre cómo podemos hacer tu vida más fácil!</p>
    <a href="#contact" class="text-center bg-sky-600 text-white px-4 py-2 rounded-md font-bold hover:bg-sky-700 duration-300 my-6 text-lg">Contáctanos</a>
  </div>

</div>
