<div class="second bg-gray-200 px-10 py-5">
  <div class="services flex flex-row justify-around">
    <div class="container max-w-3xl flex flex-row justify-around">

      <div class="column-1">
        <ul>
          <li class="py-2">Ejemplo 1</li>
          <li class="py-2">Ejemplo 2</li>
          <li class="py-2">Ejemplo 3</li>
          <li class="py-2">Ejemplo 4</li>
          <li class="py-2">Ejemplo 5</li>
        </ul>
      </div>
      <div class="column-2">
        <ul>
          <li class="py-2">Ejemplo 6</li>
          <li class="py-2">Ejemplo 7</li>
          <li class="py-2">Ejemplo 8</li>
          <li class="py-2">Ejemplo 9</li>
          <li class="py-2">Ejemplo 10</li>
        </ul>
      </div>

    </div>
  </div>
</div>
