<div class="second bg-gray-200 px-10 py-10">
  <div class="flex justify-center">
    <h1 id="services" class="font-bold text-3xl text-center mb-8">Ofrecemos los siguientes servicios</h1>
  </div>

  <div class="flex flex-row justify-around">
    <div class="container max-w-3xl flex flex-col justify-around text-justify ml-6 sm:flex-row sm:ml-0 lg:flex-row lg:max-w-5xl lg:ml-0">

      <div class="column-1 text-lg">
        <ul class="list-disc">
          <li class="py-2">Copias e impresiones</li>
          <li class="py-2">Impresiones de planos</li>
          <li class="py-2">Transcripciones</li>
          <li class="py-2">Citas para pasaporte</li>
          <li class="py-2">Citas para visa</li>
        </ul>
      </div>
      <div class="column-2 text-lg">
        <ul class="list-disc">
          <li class="py-2">Reparación de equipos de cómputo</li>
          <li class="py-2">Venta de equipos de cómputo</li>
          <li class="py-2">Instalación de software</li>
          <li class="py-2">Comprobantes de domicilio</li>
          <li class="py-2">Actas de nacimiento y CURP</li>
        </ul>
      </div>

    </div>
  </div>
</div>
